<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <style>
        table, th, td {
          border:1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            
            <form action="/put-crud" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputLastName">First name</label>
                      <input value="<%= data.firstname %>" type="text" class="form-control" name="firstname" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputFirstName">Last Name</label>
                      <input value="<%= data.lastname %>" type="text" class="form-control" name="lastname" placeholder="Last Name">
                      <input value="<%= data.id %>" type="text" class="form-control" name="id" hidden>
                    </div>
                  </div>  
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
              </form>
        </div>
    </div>
</body>
</html>